*{
  margin: 0;
  padding: 0;
  transition: color 0.1s, background-color 0.5s;
  color: inherit;
  text-decoration: inherit;
  box-sizing: border-box;
}

body {
  --primary-color:#4FC6CE;
  --accent-1:#DBDBDB;
  --accent-2:#98B1BA;
  --accent-3:#26333A;
  --accent-4:#1A232B;

  font-family: Calibri, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  justify-content: center;
  /*text-align: center;*/
  background-color: var(--accent-4);
  color: var(--accent-1);
}

body.light{
  --primary-color: #4FC6CE;
  --accent-1: #1D3A41;
  --accent-2: #225B60;
  --accent-3: #FFFFFF;
  --accent-4: #D5F3F9;
}

.container{
  display: grid;
  gap: 5px;
  max-width: 1300px;
  padding: 50px;
  margin: 0 auto;
}

.box{
  background-color: var(--accent-3);
  border-radius: 25px;
  justify-content: center;
}
.box.theme {
  position: relative;
  display: flex;
  justify-content: center;  
  align-items: center;}

/* Navigation Bar */

.navbar{
  display: grid;
  gap: 5px;
  text-align: center;
  grid-template-columns: 1fr;
  grid-auto-columns: max-content;
  grid-auto-rows: max-content;
  position: sticky;
  top: 50px;
  z-index: 5;
  cursor: pointer;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--accent-2);
}

.navbar > div{
  padding: 25px 10px;
}

.navbar ion-icon{
  font-size: 32px;
  max-width: auto;
}

.navbar .active, .navbar .item :hover{
  color: var(--primary-color);
  opacity: 1;
}

 /* divider */

.divider{
  height: 2px;
  width: 100%;
  margin: 15px 0;
}

.ltr{
  background: radial-gradient(ellipse at left, var(--accent-2) -70%, transparent 80%);
}
.rtl{
  background: radial-gradient(ellipse at right, var(--accent-2) -70%, transparent 80%);
}

/* Profile */

.profile{
  text-align: center;
  font-size: 20px;
}

.profile .header{
  max-height: 40vh;
  width: 100%;
  border-radius: 25px 25px 0 0;
  clip-path: polygon(100% 0, 100% 80%, 80% 100%, 20% 100%, 0 80%, 0 0);
}

.profile .img{
  width: 140px;
  position: relative;
  margin: -60px auto 0;
  border: var(--accent-4) 8px solid;
  border-radius: 35px;
}

.profile p{
  margin-top: 10px;
  height: 20px;
}

.profile ul{
  list-style-type: none;
  margin: 30px 0 80px 0;
}

.profile ul li{
  display: inline;
}

.profile .footer{
  position:sticky;
  top: calc(100vh - 100px);
  width: 100%;
  bottom: 0;
}

.profile table{
  width: 100%;
  padding-bottom: 15px;
}

.profile ion-icon{
  color: var(--accent-2);
  transition: color .5s, border-color .5s, background-color .5s ;
  margin-bottom: -7px;
}

.profile ul ion-icon {
  padding: 10px;
  border-radius: 10px;
  background-color: var(--accent-4);
}

.profile ul ion-icon:hover{
  border-color: var(--accent-4);
}

.profile ion-icon:hover{
  color: var(--primary-color);
}

.profile table ion-icon{
  padding: 5px;
  border-radius: 10px;
  transition: color .5s, background-color .5s;
}

.profile td:hover ion-icon{
  background-color: var(--primary-color);
  color: var(--accent-4);
}

/* Content */

.content{
  padding: 20px 15px 20px 20px;
}

.content h2{
  font-size: 2em;
}

.content .wrapper{
  overflow: auto;
  max-height: 700px;
  padding-right: 10px;
  scroll-behavior: smooth;
}

.content ::-webkit-scrollbar{
  width: 5px;
  height: 5px;
}

.content ::-webkit-scrollbar-track{
  background: var(--accent-4);
}

.content ::-webkit-scrollbar-thumb{
  background: var(--primary-color);
  border-radius: 5px;
}

.content p{
  line-height: 1.5;
  font-size: 18px;
}

.coloured{
  color: var(--primary-color);
}

/* Achievements */

.section{
  margin: 30px auto;
}

.achievements{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: var(--accent-4);
  padding: 20px 30px;
  gap: 10px;
  border-radius: 10px;
}

.achievements h3{
  font-size: 2.3em;
}

.achievements ion-icon{
  margin-bottom: -5px;
  color: var(--primary-color);
  font-size: 0.9em;
}

.achievements p{
  color: var(--accent-2);
  line-height: 1.2;
  font: 15px
}

/* Skills */

.skills {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  color: var(--accent-2);
}

.skills > div {
  text-align: center;
  padding: 20px;
  background-color: var(--accent-4);
  border-radius: 10px;
  border: var(--accent-4) 3px solid;
  transition: border-color .5s;
  cursor: pointer;
}

.skills > div:hover {
  border-color: var(--primary-color);
}

.skills ion-icon {
  font-size: 32px;
  color: var(--primary-color);
}

.skills .circle {
  position: relative;
  width: 60px;
  height: 60px;
  margin: auto;
  background: conic-gradient(from 0deg,
    var(--primary-color) 0%,
    var(--primary-color) var(--percent),
    var(--accent-3) var(--percent));
  border-radius: 50%;
  margin-bottom: 5px;
}

.skills .circle::before {
  content: '';
  position: absolute;
  inset: 8px;
  background-color: var(--accent-4);
  border-radius: 50%;
}

.skills h4 {
  position: relative;
  text-align: center;
  font-size: 1.2em;
  line-height: 3;
}

.skills div:nth-child(7) {
  background: inherit;
}

.skills .progress-bar:nth-child(1) {
  margin-bottom: 10px;
}

.skills .progress-bar p {
  display: flex;
  justify-content: space-between;
}

.skills progress {
  width: 100%;
  appearance: none;
  height: 10px;
}

.skills progress::-webkit-progress-bar {
  background-color: var(--accent-4);
  border-radius: 10px;
}

.skills progress::-webkit-progress-value {
  background-color: var(--primary-color);
  border-radius: 10px;
}

/* experience */

.experiences {
  margin: 15px 0;
}

.experiences p {
  padding-left: 20px;
  border-left: var(--accent-2) 2px solid;
  margin-left: 17px;
  color: var(--accent-2);
}

.experiences h4 {
  padding-left: 25px;
  position: relative;
  color: var(--primary-color);
  margin: 10px;
}

.experiences h4::before {
  content: '';
  position: absolute;
  background-color: var(--primary-color);
  width: 14px;
  height: 14px;
  border-radius: 20px;
  left: 0;
  top: 5px;
}

.experiences .date {
  padding: 5px 10px;
  background-color: var(--accent-4);
  border-radius: 4px;
  color: var(--accent-2);
  margin-top: 20px;
  font-size: 14px;
  font-weight: 400;
}

/* contributions */
.contribution {
  display: grid;
  grid-template-columns: 1fr;
  border: var(--accent-4) 3px solid;
  border-radius: 10px;
  width: 100%;
}

.contribution activity-graph {
  padding: 10px 20px;
  color: var(--accent-2);
  --activity-graph-text-color: var(--accent-2);
  --activity-graph-rounded: 2px;
  --activity-graph-level-0-bg: var(--accent-4);
  --activity-graph-level-1-bg: #0E4545;
  --activity-graph-level-2-bg: #006C69;
  --activity-graph-level-3-bg: #25A0A7;
  --activity-graph-level-4-bg: #37C9D5;
}

body.light .contribution activity-graph {
  --activity-graph-level-0-bg: #EBEDF0;
  --activity-graph-level-1-bg: #9BE9A8;
  --activity-graph-level-2-bg: #40C463;
  --activity-graph-level-3-bg: #30A14E;
  --activity-graph-level-4-bg: #216E39;
}

.contribution > div {
  overflow: auto;
}

.contribution figure {
  overflow: hidden;
}

.contribution table {
  border-spacing: 2px;
}

/* projects */
.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  grid-template-areas:
    "p1 p2"
    "p3 p4"
    "p5 p6"
    "p7 p7";
}

/* Assign grid areas */
.project-1 { grid-area: p1; }
.project-2 { grid-area: p2; }
.project-3 { grid-area: p3; }
.project-4 { grid-area: p4; }
.project-5 { grid-area: p5; }
.project-6 { grid-area: p6; }
.project-7 { grid-area: p7; }

.projects div {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
}

.projects div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter 0.5s, transform 0.5s;
}

.projects div:hover img {
  filter: brightness(0.5);
  transform: scale(1.05);
}

.projects h3 {
  position: absolute;
  inset: 0;
  margin: auto;
  width: fit-content;
  height: fit-content;
  opacity: 0;
  transition: opacity 0.5s;
  color: var(--accent-4);
}

.projects div:hover h3 {
  opacity: 1;
}

body.light .projects h3 {
  color: var(--accent-4);
}

/* blog */
.blog {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.blog-box img {
  width: 100%;
  border-radius: 7px;
}

.blog-box {
  cursor: pointer;
  border: var(--accent-4) 3px solid;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--accent-4);
  transition: background-color 0.5s, border-color 0.5s;
}

.blog-box div {
  padding-top: 10px;
  border-radius: 10px;
  transform: background-color 0.5s;
}

.blog-box p {
  color: var(--accent-2);
}

.blog-boxp, .blog-box h3 {
  margin: 0;
  transition: color 0.5s;
}

.blog-box:hover {
  border-color: var(--primary-color);
}

.blog-box:hover h3 {
  color: var(--primary-color);
}

.blog-box a, .blog-box ion-icon {
  color: var(--primary-color);
  transition: color 0.5s, padding-left 0.5s;
}

.blog-box .link:hover ion-icon {
  padding-left: 5px;
}

.blog-box .link {
  display: flex;
  align-items: center;
  padding-top: 10px;
}

/* testimonials */
.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 10px;
}

.testimonials img {
  width: 70px;
  border-radius: 7px;
  float: left;
  margin-right: 10px;
}

.testimonials-box:first-child {
  background-color: transparent;
  margin: auto;
}

.testimonials-box {
  background-color: var(--accent-4);
  padding: 20px;
  border-radius: 10px;
}

.testimonials ion-icon {
  color: orange;
}

.testimonials p {
  color: var(--accent-2);
  clear: left;
}

.testimonials h3 {
  margin: 0;
  color: var(--primary-color);
}

.testimonials h1 {
  font-size: 2.3em;
}

/* contact */
.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin: 20px 0;
}

.map {
  padding: 3px;
  border-radius: 10px;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px inset;
  overflow: hidden;
}

body:not(.light) .map {
  filter: invert(90%) sepia(100%) hue-rotate(150deg) brightness(100%);
}

.contact .input {
  width: 100%;
  background-color: var(--accent-4);
  border: var(--accent-4) 1px solid;
  color: var(--accent-2);
  border-radius: 5px;
  line-height: 3;
  outline: none;
  transition: border-color 0.5s, background-color 0.5s, color 0.5s;
}

.contact .input:hover,
.contact .input:focus {
  border: var(--primary-color) 1px solid;
}

.contact .submit {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 50px;
  border-radius: 5px;
  transition: background-color 0.5s, filter 0.5s;
}

.contact .input::placeholder,
.contact textarea::placeholder {
  color: var(--accent-3);
  filter: brightness(2);
  padding-left: 10px;
}

.body .light .contact .input::placeholder,
.body .light .contact textarea::placeholder {
  color: var(--accent-1);
}

.contact .submit:hover {
  filter: brightness(0.8);
  cursor: pointer;
}

/* Responsivness */

/* Desktop */
@media screen and (width >= 1024px) {
  .container{
    grid-template-columns: 85px 430px 1fr;
  }
  .skills div:nth-child(7) {
    grid-column: 3 / span 2;
  }
  .projects {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "p1 p2 p2"
      "p3 p4 p5"
      "p3 p6 p6"
      "p7 p6 p6";
  }
}

/* Tablet */
@media screen and (width >= 768px) and (width <= 1023px) {
  .container{
    grid-template-columns: 85px 1fr;
    max-width: 650px;
  }
  .content {
    grid-column-start: 2;
    grid-column-end: 4;
  }
  .achievements {
    grid-template-columns: 1fr 1fr;
  }
  .skills {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .skills div:nth-child(7) {
    grid-column: 1 / 4;
  }
  .projects {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "p1 p2"
      "p3 p4"
      "p5 p6"
      "p7 p7";
  }
}

/* Mobile */
@media screen and (width <= 769px) {
  .container{
    grid-template-columns: 1fr;
    max-width: 500px;
    padding: 20px;
    padding-top: 50px;
  }
  .navbar{
    display: inline-grid;
    grid-template-columns: 85px 1fr;
  }
  .nav{
    display: inline-grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 5px;
  }
  .nav .divider,
  .nav p {
    display: none;
  }
  .navbar > div {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
                rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
  .achievements {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .skills {
    grid-template-columns: 1fr 1fr;
  }
  .skills div:nth-child(7) {
  grid-column: 1 / 3;
  }
  .projects {
    grid-template-columns: 1fr;
    grid-template-areas:
      "p1"
      "p2"
      "p3"
      "p4"
      "p5"
      "p6"
      "p7";
  }
  .blogs {
  grid-template-columns: 1fr;
  }
  .testimonials {
  grid-template-columns: 1fr;
}
.contact {
  grid-template-columns: 1fr;
}
}




